
.panel_div {
	width: 100%;
}

.slidecontainer {
	border-top: 0.1em solid #d3d3d3;
	padding: 1em;
	width: 100%;
}

/*
SLIDERS
*/
.panel_div {
	width: 100%;
}

.slidecontainer {
	border-top: 0.1em solid #d3d3d3;
	padding: 1em;
	  width: 100%;
}

.slidecontainer>label {
	  color: #000;
	font-size: 1em;
}

.slidecontainer>input[type="text"] {
	width: 5em;
	margin-left: 5%;
}

.slidecontainer>input[type="range"] {
	margin-top: .5em;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider_range {
	width: 97%;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
  
/*
	BOOLEAN INPUTS
*/
.boolean_input {
	margin: 0 0 0 1em !important;
}
  
  
.slidecontainer>label {
	  color: #000;
	font-size: 1em;
}
  
.slidecontainer>input[type="text"] {
	width: 5em;
	margin-left: 5%;
}
  
.slidecontainer>input[type="range"] {
	margin-top: .5em;
}
  
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
  
.slider:hover {
	opacity: 1;
}
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
  
/*
	BOOLEAN INPUTS
*/
.boolean_input {
	margin: 0 0 0 1em !important;
}
  