/* Styles go here */

/* * {
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
} */

h2 {
  color: white;
  width: 99%;
  margin: 0.8em 0 0 0;
}

label {
  color: white;
}
input {
  margin: 0 .2em .2em 0;
}
input[type="button"] {
  margin: 0 1em 1em 3em;
  width: 7.5em;
}
input[type="text"] {
  width: 8em;
}

#content{
	width: 100%;
}

#custom-menu{
	background: none !important;
}

#param {
  width: 12em;
}

#sidebarCollapse {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("../img/menu_icon2.png");
	background-size: cover;

	border: 0;
	height: 3em;
	/* padding: 0; */
	width: 3em;

	/* position: absolute;
	left: 1em;
	top: 1em;
	z-index: 10; */
}

.navbar-header {
  /* padding: 0.5em; */
}

.navbar-inverse{
	border-radius: 0;
	padding: .3em 0 0 0;
}

/* Class Font Options */
.tick text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

label {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

body {
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
}

.container-fluid{
	border: 0;
	margin: 0;
	padding: 0;
}

#header>div>*{
	display: inline-block;
}

#main-title{
	text-align: center;
	vertical-align: middle;
	width: 90%;
}
#main-title>h2{
	margin: 0;
}

/* D3 CSS */
.chart .domain {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xAxis path,
.yAxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 3px;
}

.tick line {
  stroke: black;
  stroke-width: 2px;
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar{
	border: 0;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #222;
	border-right: .25em solid #888;
    color: #fff;
	/* padding: 0 0 0 .5em; */
    transition: all 0.3s;
}

#control_buttons{
	border-bottom: .15em solid #444;
	margin-bottom: 1em;
	padding-bottom: .5em;
	text-align: center;
}

.container-fluid>*:nth-child(2){
	margin-left: 20%;
}

.panel_button{
	background: #888;
	margin: 0 .1em;
	padding: .2em !important;
	height: 2em !important;
	width: 2em !important;
}

.panel_button:hover{
	background: #222;
}

.panel_button>img{
	height: 100%;
	width: 100%;
}

#step_button{
	background-image: url("../../../Resources/ui/step.png");
	background-size: cover;
}

#setup_button{
	/* background-color: #888; */
	background-image: url("../../../Resources/ui/setup.png");
	background-size: cover;
}


#run_button{
	/* background-color: #888; */
	background-image: url("../../../Resources/ui/play.png");
	background-size: cover;
}

#reload_button{
	/* background-color: #888; */
	background-image: url("../../../Resources/ui/refresh.png");
	background-size: cover;
}

.sidebar-header {
	border-bottom: .15em solid #444;
	margin-bottom: .5em;
	text-align: center;
}

#sidebar ul.components {
    /* padding: 20px 0; */
    border-bottom: .1em solid #888;
}

#sidebar ul p {
    color: #fff;
    /* padding: 10px; */
}

#sidebar ul li a {
    /* padding: 10px; */
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #888;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 1em !important;
    /* background: #6d7fcc; */
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;
}

.wrapper {
	display: flex;
	align-items: stretch;
}


#sidebar.active {
	margin-left: -250px;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
}
